*{
  margin 0;padding: 0;
}
main{
  background-color: #f0f0f0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.btn{
  text-decoration: none;
  font-size: 1.5rem;
  border: 1px solid black;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  background-color: greenyellow;

}
.btn:first-child{
  background-color:red;
}
.popup{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
  position: fixed;
  top: 0;
  left:0;
  backdrop-filter: blur(5px );
  display: none;

}
section{
  padding: 1.5rem;width: 20rem;
  height: 13rem;
  background-color: yellowgreen;
}
.popup div{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}
